@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Plate Portal!</h1>
    
</div>

<div class="container">
    <div class="row justify-content-between my-3">
        <div class="card border-0" style="width: 18rem;">
            <img src="https://images-gmi-pmc.edge-generalmills.com/fca4b25f-5859-4048-974c-4ef02a0014ee.jpg" class="card-img-top rounded" alt="appetizers" style="height:70%">
            <div class="card-body">
                <p class="card-text text-center">Choose different appetizers!</p>
            </div>
        </div>
        <div class="card border-0" style="width: 18rem;">
            <img src="https://assets.epicurious.com/photos/588a497e15872cb7073f2240/master/pass/charred-chicken-with-sweet-potatoes-and-oranges-BA-011917.jpg" class="card-img-top rounded" alt="main courses" style="height:70%">
            <div class="card-body">
                <p class="card-text text-center">Get your favourite dishes!</p>
            </div>
        </div>
        <div class="card border-0" style="width: 18rem;">
            <img src="https://i0.wp.com/shop.sharlota.mk/wp-content/uploads/2020/12/DSC_0540-scaled.jpg?fit=2560%2C1708&ssl=1" class="card-img-top rounded" alt="desserts" style="height:70%">
            <div class="card-body">
                <p class="card-text text-center">Find all your favourite desserts!</p>
            </div>
        </div>
    </div>
</div>